@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600&display=swap');
body{
    font-family: 'Noto Serif KR', serif;
    background: beige;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding-top: 2%;
}
a{
    color: black;
    text-decoration: none;
}
table{
    border-collapse: collapse;
    width: 30%;
    padding: 2%;
    margin: auto;
    text-align: justify;
    line-height: 250%;
}
th{
    padding-top: 15%;
}